<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
	<nav th:replace="template :: nav"></nav>
	<div class="container">
		<div class="row">
			<h1 th:text="${heading}"></h1>
			<form method="post" action="crud-article" autocomplete="off" enctype="multipart/form-data">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<input th:value="${article.id}" type="hidden" name="id"/>
						<input th:value="${operation}" type="hidden" name="operation"/>
						<label for="headline">Headline:</label>
  						<input th:value="${article.headline}" type="text" class="form-control" name="headline" required="required"/>
  						<label for="description">Description:</label>
  						<textarea th:utext="${article.description}" class="form-control" name="description" required="required"></textarea>
  						<label for="imageLocation">Image:</label>
  						<img th:src="${article.imageLocation}" class="img-rounded" style="max-height: 30%; max-width: 30%; margin-top:10px; margin-bottom:10px;"/>
  						<input th:if="${operation=='CREATE'}" th:file="${article.imageLocation}" type="file" class="form-control" name="imageLocation" required="required"/>
  						<input th:unless="${operation=='CREATE'}" th:file="${article.imageLocation}" type="file" class="form-control" name="imageLocation" />
  						<div class="form-group">
  							<label for="restaurant">Restaurant:</label>
  							<select name="restaurant" required="required" size="1" class="form-control">
  								<option value="">Select restaurant</option>
  								<option th:if="${article.restaurant!=null}" th:each="restaurant : ${restaurants}" th:value="${restaurant.id}" th:text="${restaurant.name}" th:selected="${article.restaurant.id==restaurant.id}"/>
  								<option th:unless="${article.restaurant!=null}" th:each="restaurant : ${restaurants}" th:value="${restaurant.id}" th:text="${restaurant.name}"/>
  							</select>
  						</div>
  						<br/>
  						<div style="margin-left:auto; margin-right:auto; text-align: center;">
  							<button th:text="${buttonAction}" type="submit" class="btn btn-default"></button>
						</div>
					</div>
					<div class="col-sm-4"></div>
				</div>
				
			</form>
		</div>
	</div>


	<div th:replace="template :: footer"></div>
</body>
</html>