<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>

<body>
	<nav th:replace="template :: nav"></nav>
	<div class="container">
		<div class="row">
			<h1 th:text="${heading}"></h1>
			<form method="post" action="crud-restaurant" autocomplete="off">
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<input th:value="${restaurant.id}" type="hidden" name="id"/>
						<input th:value="${operation}" type="hidden" name="operation"/>
						<label for="name">Name:</label>
  						<input th:value="${restaurant.name}" type="text" class="form-control" name="name" required="required"/>
  						<label for="address">Address:</label>
  						<input th:value="${restaurant.address}" type="text" class="form-control" name="address" required="required"/>
  						<label for="description">Description:</label>
  						<textarea th:utext="${restaurant.description}" class="form-control" name="description" required="required"></textarea>
  						<br/>
  						<div style="margin-left:auto; margin-right:auto; text-align: center;">
  							<button th:text="${buttonAction}" type="submit" class="btn btn-default"></button>
						</div>
					</div>
					<div class="col-sm-4"></div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="template :: footer"></div>
</body>
</html>